@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-primary text-base font-normal mx-auto;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }
}

.zing-scroll__bar::-webkit-scrollbar {
    width: 10px;
}

.zing-scroll__bar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.zing-scroll__bar::-webkit-scrollbar-thumb {
    background: #888;
}

.zing-scroll__bar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.zing-chart-top {
    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    color: rgba(74, 144, 226, 0);
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    -webkit-text-stroke: 1.5px #32323d;
}

.zing-chart_item:first-child {
    .zing-chart-top {
        -webkit-text-stroke: 1.5px #4a90e2;
    }
}

.zing-chart_item:nth-child(2) {
    .zing-chart-top {
        -webkit-text-stroke: 1.5px #50e3c2;
    }
}

.zing-chart_item:nth-child(3) {
    .zing-chart-top {
        -webkit-text-stroke: 1.5px #e35050;
    }
}

.zing-chart-gradient {
    background: linear-gradient(
        87deg,
        #7d6aff 1.38%,
        #ffb86c 64.35%,
        #fc2872 119.91%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
